version: "3.8"

services:
  api:
    build: .
    environment:
      - CACTUS_API_TOKEN=<big-random-value>
      - CACTUS_SENTRY_DSN=<your-sentry-dsn>
      - CACTUS_ENVIRONMENT=prod
    expose: "8000"

  web:
    image: nginx:stable-alpine
    volumes:
      - ./docker-etc/nginx:/etc/nginx/templates
    environment:
      - NGINX_DOMAIN=<your-domain-name>
      - NGINX_SSL_CONF=<path-to-ssl-conf-snippet>
    ports: "443:443"
